

.postContainer{
  a {
    display: block;
    text-decoration: 0;
    color: inherit;
  }
  .heading{
    h1{
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;
      text-align: justify;
      letter-spacing: -0.5px;
      color: var(--heading);
      margin-bottom: 8px;
    }

    p{
      font-size: 18px;
      line-height: 22px;
      text-align: justify;
    }
  }


  & + .postContainer{
    margin-top: 48px;
  }

  .info{
    display: flex;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
    color: var(--info);
    font-size: 14px;
    line-height: 17px;



    .infoSection{
      p {
        margin-left: 8px;
      }

      display: flex;
      align-items: center;

      svg{
        width: 20px;
        height: 20px;
      }

      & + .infoSection {
        margin-left: 2.5rem;
      }
    }
  }
}


